---
---

@import "{{ site.theme }}";


a {
  color: #dd0031;
}

a:hover {
  color: #dd0031;
  font-weight: normal;
  text-decoration: underline;
}

a:visited {
  color: #dd0031;
  font-weight: normal;
}
